﻿@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider
@model LoginDto
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MFA_Blog</title>

    <environment include="Development">
        @* Metronic Template *@
        <link rel="stylesheet" href="~/metronic/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" asp-append-version="false" />
        <link rel="stylesheet" href="~/metronic/assets/vendors/base/vendors.bundle.css" asp-append-version="false" />
        <link rel="stylesheet" href="~/metronic/assets/demo/default/base/style.bundle.css" asp-append-version="false" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />

        @* Metronic Template *@
        @*<link rel="stylesheet" href="~/metronic/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" asp-append-version="false" />
        <link rel="stylesheet" href="~/metronic/assets/vendors/base/vendors.bundle.css" asp-append-version="false" />
        <link rel="stylesheet" href="~/metronic/assets/demo/default/base/style.bundle.css" asp-append-version="false" />*@

    </environment>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
			WebFont.load({
				google: {
					"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
				},
				active: function() {
					sessionStorage.fonts = true;
				}
			});
		</script>
</head>
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
 

        		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid   m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile   m-login m-login--6" id="m_login">
				<div class="m-grid__item   m-grid__item--order-tablet-and-mobile-2  m-grid m-grid--hor m-login__aside " style="background-image: url(../metronic/assets/app/media/img//bg/bg-4.jpg);">
					<div class="m-grid__item">
						<div class="m-login__logo">
							<a href="#">
								<img src="~/metronic/assets/app/media/img//logos/logo-4.png">
							</a>
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver">
						<div class="m-grid__item m-grid__item--middle">
							<span class="m-login__title">Whatever CTA's wave purpose important exit element</span>
							<span class="m-login__subtitle">Lorem ipsum amet estudiat</span>
						</div>
					</div>
					<div class="m-grid__item">
						<div class="m-login__info">
							<div class="m-login__section">
								<a href="/" class="m-link">&copy 2018 MFA Blog</a>
							</div>
							<div class="m-login__section">
								@*<a href="#" class="m-link">Privacy</a>
								<a href="#" class="m-link">Legal</a>*@
								<a href="/contact" class="m-link">Contact</a>
							</div>
						</div>
					</div>
				</div>
				<div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1  m-login__wrapper">

					<!--begin::Head-->
					@*<div class="m-login__head">
						<span>Don't have an account?</span>
						<a href="#" class="m-link m--font-danger">Sign Up</a>
					</div>*@

					<!--end::Head-->

					<!--begin::Body-->
					<div class="m-login__body">

						<!--begin::Signin-->
						<div class="m-login__signin">
							<div class="m-login__title">
								<h3>Create Account</h3>
							</div>

							<!--begin::Form-->
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Username" name="username" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password">
								</div>
							</form>

							<!--end::Form-->

							<!--begin::Action-->
							<div class="m-login__action">
								<a href="#" class="m-link">
									<span>Forgot Password ?</span>
								</a>
								<a href="/admin/dashboard">
									<button id="m_login_signin_submit" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Sign In</button>
								</a>
							</div>

							<!--end::Action-->

							<!--begin::Divider-->
							@*<div class="m-login__form-divider">
								<div class="m-divider">
									<span></span>
									<span>OR</span>
									<span></span>
								</div>
							</div>*@

							<!--end::Divider-->

							<!--begin::Options-->
							@*<div class="m-login__options">
								<a href="#" class="btn btn-primary m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
									<span>
										<i class="fab fa-facebook-f"></i>
										<span>Facebook</span>
									</span>
								</a>
								<a href="#" class="btn btn-info m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
									<span>
										<i class="fab fa-twitter"></i>
										<span>Twitter</span>
									</span>
								</a>
								<a href="#" class="btn btn-danger m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
									<span>
										<i class="fab fa-google"></i>
										<span>Google</span>
									</span>
								</a>
							</div>*@

							<!--end::Options-->
						</div>

						<!--end::Signin-->
					</div>

					<!--end::Body-->
				</div>
			</div>
		</div>



    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@



        @* Metronic Template *@
		<script src="~/metronic/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="~/metronic/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
		<script src="~/metronic/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<script src="~/metronic/assets/app/js/dashboard.js" type="text/javascript"></script>
        @* Metronic Template *@

        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>

    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>*@
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>






@*<form asp-controller="auth" asp-action="login" method="post" novalidate>
    <input type="hidden" name="requestpath" id="requestpath" value="@ViewBag.RequestPath" />
    <input type="text" asp-for="Username" />
    <input type="password" asp-for="Password" />
    <input type="submit" value="Login" />
</form>


<div class="external-providers">
    @foreach (var scheme in await schemeProvider.GetRequestHandlerSchemesAsync())
    {
        <a asp-action="LogInExternal" asp-route-id="@scheme.Name" class="btn btn-lg btn-default">@scheme.DisplayName</a>
    }
</div>*@


