﻿@model RegisterDto
@{
    ViewData["Title"] = "Sign Up";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<form class="form" method="post" novalidate>
    <h2 class="form-heading">Please register</h2>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" asp-for="Name" id="inputName" class="form-control first" placeholder="Name" required autofocus />
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" asp-for="Email" id="inputEmail" class="form-control last" placeholder="Email address" required />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>

