﻿
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-container container clearfix story">
    <h4 style="text-align:right;">
        CLICK Here > <a style="color: red;" href="/story">Go Back</a>
    </h4>
    <h1 style="margin-bottom:30px;">My Profile</h1>
    <div class="col-md-4">
        <img src="~/images/my/mfakdeniz.jpeg" alt="Muhammet Faruk AKDENİZ" style="width:100%" />
    </div>

    <div class="col-md-8">
        <div class="form-group">
            <label>Name and Surname</label>
            <label class="form-control">
                Muhammet Faruk AKDENIZ
            </label>
        </div>

        <div class="form-group">
            <label>Student Number</label>
            <label class="form-control">
                18120101007
            </label>
        </div>

        <div class="form-group">
            <label>Class</label>
            <label class="form-control">
                B5
            </label>
        </div>

    </div>



</div>

