﻿
@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="story-container container clearfix story">
    <h4 style="text-align:right;">
        CLICK Here > <a style="color: red;" href="/contact">Student Profile</a>
    </h4>
    <div class="body-content">
        <h1 class="title">My Interrail Story</h1>

        <p class="story-is-begining">
            Hello dear my friends. Last Summer, i and my friends  were bored to daily life and we decided to travel in Europa.
            I want to share some memories with you. I am going to start my story and let's see it together :).
        </p>

        <h1>Sofia</h1>
        <div class="travel-info sofia">
            <img class="img-responsive img-left" src="~/images/story/sofia_1.jpg" />
            <p>
                My holiday about a few countries. My high school friends and I wanted to visit some Europa’s countries.
                Initially we decided to go to Sofia. And we leaved from Istanbul. After fourteen hours we arrived to Sofia.
                We visited the Alexander Nevsky Cathedral for a two hour. We were hungry. We had to find a food for eat.
                We found a little restaurant and ate Meshana Skara. It was like Bulgarian's Kebab.
            </p>
        </div>

        <h1>Sofia Archeology Museum</h1>
        <div class="travel-info sofia">
            <p>
                After launch we went to Sofia Archeology Museum. The Museum has very old golden plate and bowl and marble statue.
                It was so interesting visiting because i am interested in Archeology.
                Later than visiting we had to riding a train so we was in hurry.
            </p>
            <img class="img-responsive img-right" src="~/images/story/sofia_2.jpg" />
        </div>

        <h1>Meshana Skara</h1>
        <div class="travel-info bulgaria">
            <img class="img-responsive img-left" style="height:230px;" src="~/images/story/sofia_3.jpg" />
            <p>
                It's famous kebab in Bulgaria. Every restaurant make it everyday.
            </p>
        </div>


        <h1>Frankfurt</h1>
        <div class="travel-info frankfurt">

            <p>
                We rode a train and we went to Frankfurt.
                My aunt live in Frankfurt and we met her husband in train station.
                We wanted to roam in Frankfurt with him. He took us to Frankfurt Alte Oper Building (Frankfurt Old Opera Building).
                After the Opera Building we visited the Frankfurt Cathedral.
                <br />
                <br />
                In here we want to eat in restaurant but my aunt said “You are going to come our house for dinner.”
                and we went to my aunt’s house concededly. We slept in this house this night.
            </p>
            <img class="img-responsive img-right" src="~/images/story/frankurt_1.jpg" />
        </div>


        <h1>Paris</h1>
        <div class="travel-info paris">
            <img class="img-responsive img-left" src="~/images/story/paris_1.jpg" />
            <p>
                My friends wanted to see the Eiffel Tower so we went to Paris for a two days.
                Firstly we were lost in Paris’s entrance. After found the true bus, we realized we forgot the camera in train station.
                We went to back and we found our camera after that we visited The Eiffel Tower. We took lots of photo and prepared an album.
            </p>
        </div>


        <h1>Like Kanfur's Old Friend</h1>
        <div class="travel-info old-friend">
            <p>
                When we were visiting The Eiffel Tower Kanfur saw a man. The man was like Kanfur's friend.
                We went to her near and Kanfur said "Hey! Ahmet!". (Ahmet is Kanfur's middle school friend.)
                We didn't expect him in Paris. Our plan chanced because of Ahmet.
                We went to a Les Deus Magots Cafe and we started fondness.
            </p>
            <img class="img-responsive img-right" src="~/images/story/paris_2.jpg" />
        </div>


        <h1>Last Evening in Paris</h1>
        <div class="travel-info last-evening-in-paris">
            <img class="img-responsive img-left" src="~/images/story/paris_3.jpg" />
            <p>
                We were tired this evening.
                After meeting Ahmet we went to Hotel's Street and we looked for a hotel.
                We found a Magots Hotel but it was very expensive for us.
                We found another cheap and little hotel and we stayed in here this evening.
                Travel in Paris was so exiting for us.
            </p>
        </div>


        <h1>Musée du Louvre</h1>
        <div class="travel-info paris-louvre">
            <p>
                We checked in hotel.
                After we settled in hotel room, we went outside for lunch. We ate falafel.
                After lunch, we decided to visit Musée du Louvre.
                A man who we met said us "This museum's some construction worker were from Turkey. I know these men.".

            </p>
            <img class="img-responsive img-right" src="~/images/story/paris_4.jpg" />
        </div>

    </div>

</div>
