﻿@model UserDto
@{
    ViewData["Title"] = "AddOrUpdateUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Kullanıcı Ekle/Düzenle
                                </h3>
                            </div>
                        </div>
                    </div>


                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right" asp-controller="admin" asp-action="user/add" method="post" novalidate>
                        <input type="hidden" asp-for="UserId">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group m--margin-top-10">
                                <div class="alert m-alert m-alert--default" role="alert">
                                    The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="text" class="form-control m-input" asp-for="Name" aria-describedby="emailHelp" placeholder="Enter Name">
                                <span class="m-form__help">We'll never share your email with anyone else.</span>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="text" class="form-control m-input" asp-for="Surname" aria-describedby="emailHelp" placeholder="Enter Surname">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="text" class="form-control m-input" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter Email">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control m-input" name="password" aria-describedby="emailHelp" placeholder="Enter Surname">
                            </div>

                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="/admin/user/list" class="btn btn-secondary">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->


            </div>

        </div>
    </div>
</div>

