﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.item {
    max-height: 450px;
    height: 450px;
}

    .item .img-responsive {
        width: 100%;
    }

@media screen and (max-width: 767px) {
    .item {
        max-height: 165px;
        height: 165px;
    }
}


* {
    font-family: serif;
}

body {
    background: #eaeaea;
}

/*Story Start*/
.story-container {
    box-shadow: 0 0 10px grey;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 45px;
    background-color: #fff;
}

    .story-container .story-is-begining {
        text-align: center;
        font-size: 22px;
        border-bottom: 1px solid gray;
        padding-bottom: 35px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin-top: 25px;
        box-shadow: 0px 7px 10px 0 grey;
    }

.story .body-content {
    display: flex;
    flex-direction: column;
}

    .story .body-content .title {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .story .body-content img {
        width: 500px;
        border-radius: 15px;
        transition-duration: .5s;
    }

    .story .body-content .travel-info {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px;
        border: 1px solid gray;
        border-radius: 15px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .story .body-content img.img-left {
        float: left;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .story .body-content img.img-right {
        float: right;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .story .body-content .travel-info.sofia {
        box-shadow: 0 0 10px 0 #e18e14;
        border-color: #e18e14;
    }

    .story .body-content .travel-info.bulgaria {
        box-shadow: 0 0 10px 0 #f8450a;
        border-color: #f8450a;
    }

    .story .body-content .travel-info.frankfurt {
        box-shadow: 0 0 10px 0 #5e616e;
        border-color: #5e616e;
    }

    .story .body-content .travel-info.paris {
        box-shadow: 0 0 10px 0 #ca48e7;
        border-color: #ca48e7;
    }

    .story .body-content .travel-info.old-friend {
        box-shadow: 0 0 10px 0 #1e9392;
        border-color: #1e9392;
    }

    .story .body-content .travel-info.last-evening-in-paris {
        box-shadow: 0 0 10px 0 #626967;
        border-color: #626967;
    }

    .story .body-content .travel-info.paris-louvre {
        box-shadow: 0 0 10px 0 #f4b742;
        border-color: #f4db9f;
    }

    .story .body-content .travel-info p {
        padding: 10px;
        width: 100%;
    }

    .story .body-content img.img-left:hover {
        transform: translateX(276px) scale(2.0);
        border-radius: 0;
    }

    .story .body-content img.img-right:hover {
        transform: translateX(-276px) scale(2.0);
        border-radius: 0;
    }
/*Story End*/


/*Contact Start*/
.contact-container {
    box-shadow: 0 0 10px grey;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 45px;
    background-color: #fff;
}

/*Contact End*/


@media screen and (max-width: 767px) {
    .story .body-content .travel-info {
        flex-direction: column;
        border-radius: 0;
    }

    .story .body-content img.img-left:hover {
        transform: none;
    }

    .story .body-content img.img-right:hover {
        transform: none;
    }

    .story .body-content img {
        border-radius: 0;
    }
}
